.Navigatie-bovenaan {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  background-color: #ffffff;
}

body {
  margin: 0%;
  padding: 0%;
  background: #ffffff;
  height: 100vh;
  width: 100vw;
}

.links {
  color: #000000;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 100px;

}

.Search-box {
  display: flex;
  justify-content: flex-end;
}

.contacten {
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding-left: 30px;


}
.atelietekst{
  font-size: 20px;
}
.centreer-onder-elkaar {
  flex-direction: column;
  align-items: center;
  display: flex;
  padding-bottom: 44px;
  padding-top: 44px;
}

.alie {
  height: 400px;
  width: 500px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.flex-contact {
  display: flex;
  /* justify-content: space-between; */
  width: 51%;
  padding: 10px;
}

h3 {
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 0.1px;
}

.icon {
  width: 23px;
  height: 23px;
}

.pimg {
  width: 50px;
  height: 50px;
}

h1 {
  border-top: 2px solid rgb(255, 255, 255);
}

.centreer {
  display: flex;
}

* {
  margin: 0;
}

h2 {
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 50px;
}


.textateliers {
  color: #000000;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 100px;

}

.foto3 {
  height: 655px;
  width: 1430px;
  padding-bottom: 100px;
  display: flex;
}

.foto {
  width: 300px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
  margin-top: 300px;
}

.video iframe {
  width: 300px;
  height: 300px;
}

.video article {
  display: flex;
  justify-content: space-around;
}

.location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1120px;
  height: 400px;
  padding-bottom: 100px;
  padding-left: 150px;
}

.image-codepen {
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 600px 600px 600px;
  padding-right: 200px;
}

.image-codepen img {
  animation-name: animatie;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animatie {

  8%,
  16% {
    transform: translatex(-600px);
  }

  18%,
  26% {
    transform: translatex(-1200px);
  }

  28%,
  36% {
    transform: translatex(-1200px) translatey(-400px);
  }

  38%,
  46% {
    transform: translatex(-600px) translatey(-400px);
  }

  48%,
  56% {
    transform: translatex(0px) translatey(-400px);
  }

  58%,
  66% {
    transform: translatex(0px) translatey(-800px);
  }

  68%,
  76% {
    transform: translatex(-600px) translatey(-800px);
  }

  78%,
  86% {
    transform: translatex(-1200px) translatey(-800px);
  }

  92%,
  98% {
    transform: translatex(0px) translatey(0px);
  }
}

.site-footer {
  background-color: #26272b;
  padding: 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}


article {
  display: flex;
  justify-content: space-around;

}

main {
  padding: 20px;
}

.ateliers img {
  filter: saturate(100%);
  transition: filter 0.40s ease-in;
}

.ateliers img:hover {
  filter: saturate(200%);
}